<template>
  <!-- MyStation 'Pancake' global component -->
  <pancake
    :appName="GLOBALS.__APP_NAME__"
    :ready="todosLoaded && !todosLoading"
    titleColor="default"
  >
    <!-- Pancake title -->
    <template slot="title">Todos</template>
    <!-- Pancake content -->
    <template slot="content">
      <p>I'm a pancake of MyApp. I should display some todos...</p>
    </template>
  </pancake>
</template>

<script>
import { BaseComponent } from '@/utils/'

export default {
  extends: BaseComponent,
  state: {
    MyAppModule: [
      'todosLoaded',
      'todosLoading'
    ]
  },
  actions: {
    MyAppModule: [
      'initTodos'
    ]
  },
  mounted () {
    if (!this.todosLoaded) {
      this.initTodos()
    }
  }
}
</script>
