/*
  Main style entry
*/

/* App component */
.ms_app_container##{$__APP_NAME__}-app-component {

  /* Tab content: MyApp */
  #myapp-tab-content {
    // Write rules...
  }

  /* Tab content: Options */
  #options-tab-content {
    // Write rules... 
  }

}

/* Pancakes */
##{$__APP_NAME__}-MyAppPancake-pancake-component {
  // Write rules...
}